<h1>Templates#edit</h1>

<div class='container well'>
  <div class='row'>
    <div class='col-md-12'>
      <%= form_tag :template, method: :put do %>
        <% if params[:error] %>
          <div class="alert alert-danger" role="alert">
            <strong><%= params[:error] %></strong>
          </div>
        <% end %>
        <div class="form-group">
          <label class="aria-label">Name:</label>
          <%= @template.name %>
        </div>
        <div class="form-group">
          <label class="aria-label">Slug:</label>
          <%= @template.slug %>
        </div>
        <div class="form-group">
          <label class="aria-label">Code:</label>
          <%= text_area_tag 'template[code]', @template.code, rows: 25, class: 'form-control input-large' %>
        </div>
        <%= submit_tag 'Save', class: 'btn btn-success' %>
        <%= link_to 'Back', templates_path %>
      <% end %>
    </div>
  </div>
</div>