<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>
          Mandrill Templates
        </h2>
      </div>

      <table class='table table-striped'>
        <tr>
          <th><%= sortable_column 'slug', 'asc', name: 'Slug'  %></th>
          <th><%= sortable_column 'name', 'asc', name: 'Name' %></th>
        </tr>

        <% @templates.each do |template| %>
          <tr>
            <td><%= template.name %></td>
            <td>
              <%= link_to template.slug, template_path(template.name) %>
              <div class="btn-group btn-group-xs" style="float: right">
                <%= link_to 'Edit', edit_template_path(template.name), class: "btn btn-default" %>
                <% unless template.published_at %>
                  <%= link_to 'Publish', template_publish_path(template.name), method: :post, class: "btn btn-info" %>
                <% end %>
                <%= link_to 'Delete', template_path(template.name), method: :delete, class: "btn btn-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>

      <br/>

      <div class="btn-group">
        <%= link_to new_template_path, class: "btn btn-default" do %><span class="glyphicon glyphicon-plus"></span> New Template<% end %>
      </div>
    </div>
  </div>
</div>
