<h1>Templates#new</h1>

<div class='container well'>
  <div class='row'>
    <div class='col-md-12'>
      <%= form_tag templates_path, method: :post do %>
        <% if params[:error] %>
          <div class="alert alert-danger" role="alert">
            <strong><%= params[:error] %></strong>
          </div>
        <% end %>
        <div class="form-group">
          <label class="aria-label">Name:</label>
          <%= text_field_tag 'template[name]', params[:template] ? params[:template][:name] : '', class: 'form-control' %>
        </div>
        <div class="form-group">
          <label class="aria-label">Code:</label>
          <%= text_area_tag 'template[code]', params[:template] ? params[:template][:code] : '', rows: 25, class: 'form-control input-large' %>
        </div>
        <%= submit_tag 'Save', class: 'btn btn-success' %>
        <%= link_to 'Back', templates_path %>
      <% end %>
    </div>
  </div>
</div>