<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2><%= @template.name %> template details</h2>
      </div>
      <div class="tab-pane">
        <p>
          <b>Slug:</b>
          <%= @template.slug %>
        </p>
        <p>
          <b>Published at:</b>
          <%= @template.published_at %>
        </p>
        <p>
          <b>Created at:</b>
          <%= @template.created_at %>
        </p>
        <p>
          <b>Updated at:</b>
          <%= @template.updated_at %>
        </p>
        <p>
          <b>Draft updated at:</b>
          <%= @template.draft_updated_at %>
        </p>
        <p>
          <b>Labels:</b>
          <%= @template.labels %>
        </p>
        <p>
          <b>Code:</b>
          <%= @template.code %>
        </p>
        <p>
          <b>Preview:</b>
          <%= @template.code.html_safe %>
        </p>
      </div>
    </div>
  </div>
</div>